:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  --white: #ffffff;
  --main-accent: #712e1e;
  --light-green: #888870;
  --orange: #e59a59;
  --light-orange: #ffd5af;

}


body {
  background-color: var(--light-green);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
